---
import Layout from '../layouts/Layout.astro';
import TheHeader from '../components/TheHeader.vue';
import About from '../components/About.vue';
---

<Layout title="Detailing.guru">
    <TheHeader/>
	<div  class="container-auto">
        <About/>
    </div>
</Layout>

<style scoped>

</style>
