---
import Layout from '../layouts/Layout.astro';
import TheHeader from '../components/TheHeader.vue';
import Favorites from '../components/Favorites.vue';
---
<Layout title="Detailing.guru">
    <TheHeader/>
    <div class="container-auto">
        <Favorites />
    </div>
</Layout>

<style scoped>

</style>
