---
import Layout from '../layouts/Layout.astro';
import TheHeader from '../components/TheHeader.vue';
import ItemPage from '../components/ItemPage.vue';
---
<Layout title="Detailing.guru">
    <TheHeader/>
    <div class="container-auto">
        <ItemPage />
    </div>
</Layout>

<style scoped>

</style>
